.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 64px;
  padding: 0px 112px;
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1439px) {
  .header-container {
    padding: 0px 32px;
  }
}
@media (max-width: 1023px) {
  .header-container {
    padding: 0px 24px;
  }
}
@media (max-width: 799px) {
  .header-container {
    padding: 0px 16px;
  }
}
.header-container .header-logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 32px;
  font-family: "Playfair Display", serif;
  color: #8B4513;
}
@media (max-width: 799px) {
  .header-container .header-navigation {
    display: none;
  }
}
.header-container .header-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  gap: 33px;
  padding-left: 38px;
}
@media (max-width: 1023px) {
  .header-container .header-navigation ul {
    padding-left: 0px;
    gap: 20px;
  }
}
.header-container .header-navigation ul li {
  color: #4B5563;
  padding: 8px 12px;
}
.header-container .header-navigation ul li:hover {
  color: #8B4513;
}
@media (max-width: 1023px) {
  .header-container .header-navigation ul li {
    padding: 8px 25px 8px 0px;
  }
}
.header-container .header-navigation ul li:first-child {
  color: #8B4513;
}
.header-container .header-navigation ul li:first-child:hover {
  color: #D4AF37;
}
.header-container .header-orders {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.header-container .header-orders .header-search-icon {
  width: 18px;
  height: 21px;
  background-image: url(../../../../assets/header/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header-container .header-orders .header-search-icon:hover {
  background-image: url("../../../../assets/header/search-hover.svg");
}
@media (max-width: 449px) {
  .header-container .header-orders .header-search-icon {
    display: none;
  }
}
.header-container .header-orders .header-cart-icon {
  width: 20.25px;
  height: 21px;
  background-image: url(../../../../assets/header/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-container .header-orders .header-cart-icon:hover {
  background-image: url("../../../../assets/header/cart-hover.svg");
}
.header-container .header-orders .header-cart-icon .cart-amount {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -7px;
  color: #FFFFFF;
  border-radius: 9999px;
  background-color: #D4AF37;
}
@media (max-width: 449px) {
  .header-container .header-orders .header-cart-icon {
    display: none;
  }
}
.header-container .header-orders .header-order-btn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.header-container .header-orders .header-order-btn:hover {
  background-color: rgba(139, 69, 19, 0.9);
}
.header-container .header-orders .header-order-btn {
  font-size: 14px;
}
.header-container .header-orders .header-order-btn span:first-child {
  display: block;
}
@media (max-width: 1023px) {
  .header-container .header-orders .header-order-btn span:first-child {
    display: none;
  }
}
@media (max-width: 799px) {
  .header-container .header-orders .header-order-btn span:first-child {
    display: block;
  }
}
.header-container .header-orders .header-order-btn span:last-child {
  display: none;
}
@media (max-width: 1023px) {
  .header-container .header-orders .header-order-btn span:last-child {
    display: block;
  }
}
@media (max-width: 799px) {
  .header-container .header-orders .header-order-btn span:last-child {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
