body .customers-container > div h1, body .featured-pastries .featured-pastries-list > div > div:last-child h3, body .special-offers .special-offers-flex-container h1, body .main-categories .category-flex-container .category-items > div h3, body .main-categories .category-flex-container .categories-header h1, body .main-hero-container .hero-flex-container .hero-description h1 {
  font-family: "Playfair Display", serif;
  color: #8B4513;
}

body {
  max-width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  color: #4B5563;
}
body header {
  position: sticky;
  top: 0px;
  left: 0px;
}
body .main-hero-container {
  height: 600px;
  padding: 108px 79.5px;
  background: linear-gradient(90deg, #FFE5D4 0%, #FFF8F0 100%);
}
@media (max-width: 1439px) {
  body .main-hero-container {
    padding: 108px 0px;
  }
}
@media (max-width: 1023px) {
  body .main-hero-container {
    padding: 13.5px 0px;
  }
}
@media (max-width: 799px) {
  body .main-hero-container {
    padding: 2px 0px;
  }
}
@media (max-width: 449px) {
  body .main-hero-container {
    height: 760px;
  }
}
body .main-hero-container .hero-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 0px 32px;
  gap: 48px;
}
@media (max-width: 1023px) {
  body .main-hero-container .hero-flex-container {
    flex-direction: column;
    padding: 0px 24px;
  }
}
@media (max-width: 1023px) {
  body .main-hero-container .hero-flex-container {
    flex-direction: column;
    padding: 0px 16.5px 4px;
    gap: 18px;
  }
}
body .main-hero-container .hero-flex-container .hero-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  height: 100%;
  padding: 33px 0px;
  gap: 24px;
}
@media (max-width: 1439px) {
  body .main-hero-container .hero-flex-container .hero-description {
    padding: 18px 0px;
  }
}
@media (max-width: 1023px) {
  body .main-hero-container .hero-flex-container .hero-description {
    width: 100%;
    padding: 0px;
  }
}
body .main-hero-container .hero-flex-container .hero-description h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 60px;
}
@media (max-width: 1023px) {
  body .main-hero-container .hero-flex-container .hero-description h1 {
    font-size: 48px;
  }
}
body .main-hero-container .hero-flex-container .hero-description p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 32.5px;
  color: #374151;
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:first-child {
  padding: 19px 33px;
  border-radius: 6px;
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:first-child:hover {
  background-color: rgba(139, 69, 19, 0.9);
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:last-child {
  padding: 16px 34px;
  border-radius: 6px;
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:last-child:hover {
  background-color: rgba(139, 69, 19, 0.9);
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:last-child {
  border: 2px solid #8B4513;
  color: #8B4513;
  background: #ffe6d7;
}
body .main-hero-container .hero-flex-container .hero-description .hero-buttons div:last-child:hover {
  color: #FFFFFF;
  background: #8B4513;
}
body .main-hero-container .hero-flex-container img {
  border-radius: 8px;
}
@media (max-width: 449px) {
  body .main-hero-container .hero-flex-container img {
    width: 290px;
  }
}
body .main-categories {
  height: 592px;
  padding: 66px 80px;
}
@media (max-width: 1439px) {
  body .main-categories {
    height: 616px;
    padding: 66px 0px;
  }
}
@media (max-width: 1023px) {
  body .main-categories {
    height: 956px;
    padding: 66px 0px;
  }
}
@media (max-width: 799px) {
  body .main-categories {
    height: 1684px;
    padding: 66px 0px;
  }
}
body .main-categories .category-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 0px 32px;
  gap: 48px;
}
@media (max-width: 1023px) {
  body .main-categories .category-flex-container {
    padding: 0px 24px;
  }
}
@media (max-width: 799px) {
  body .main-categories .category-flex-container {
    padding: 0px 16px;
  }
}
body .main-categories .category-flex-container .categories-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 14px;
}
body .main-categories .category-flex-container .categories-header h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 40px;
}
@media (max-width: 449px) {
  body .main-categories .category-flex-container .categories-header h1 {
    font-size: 34px;
  }
}
body .main-categories .category-flex-container .categories-header p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 28px;
}
body .main-categories .category-flex-container .category-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
@media (max-width: 1023px) {
  body .main-categories .category-flex-container .category-items {
    flex-wrap: wrap;
    row-gap: 32px;
  }
}
body .main-categories .category-flex-container .category-items > div {
  width: 280px;
}
@media (max-width: 1439px) {
  body .main-categories .category-flex-container .category-items > div {
    width: 216px;
  }
}
@media (max-width: 1023px) {
  body .main-categories .category-flex-container .category-items > div {
    width: 360px;
  }
}
@media (max-width: 799px) {
  body .main-categories .category-flex-container .category-items > div {
    width: 418px;
  }
}
@media (max-width: 449px) {
  body .main-categories .category-flex-container .category-items > div {
    width: 290px;
  }
}
body .main-categories .category-flex-container .category-items > div .img-container {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1023px) {
  body .main-categories .category-flex-container .category-items > div .img-container {
    margin-bottom: 15px;
  }
}
@media (max-width: 449px) {
  body .main-categories .category-flex-container .category-items > div .img-container {
    width: 290px;
  }
}
body .main-categories .category-flex-container .category-items > div .img-container:hover img {
  transform: scale(1.05);
}
body .main-categories .category-flex-container .category-items > div h3 {
  font-size: 19.5px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 28px;
  margin-bottom: 7px;
}
body .main-categories .category-flex-container .category-items > div p {
  letter-spacing: 0.1px;
  line-height: 24px;
}
body .special-offers {
  height: 456px;
  padding: 64px 112px;
  background: linear-gradient(90deg, #D4AF37 0%, #FACC15 100%);
}
@media (max-width: 1439px) {
  body .special-offers {
    padding: 64px 32px;
  }
}
@media (max-width: 1023px) {
  body .special-offers {
    padding: 64px 24px;
  }
}
@media (max-width: 799px) {
  body .special-offers {
    height: 544px;
    padding: 64px 16px;
  }
}
@media (max-width: 449px) {
  body .special-offers {
    height: 620px;
    padding: 64px 16px;
  }
}
body .special-offers .special-offers-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
  gap: 16px;
  padding: 48px;
}
body .special-offers .special-offers-flex-container h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 40px;
}
@media (max-width: 449px) {
  body .special-offers .special-offers-flex-container h1 {
    font-size: 32px;
  }
}
body .special-offers .special-offers-flex-container h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: #374151;
}
@media (max-width: 799px) {
  body .special-offers .special-offers-flex-container h3 {
    text-align: center;
  }
}
body .special-offers .special-offers-flex-container p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 28px;
  margin: 8px 0px 16px 0px;
}
@media (max-width: 799px) {
  body .special-offers .special-offers-flex-container p {
    text-align: center;
  }
}
body .special-offers .special-offers-flex-container div {
  padding: 16px 32px;
  border-radius: 6px;
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
body .special-offers .special-offers-flex-container div:hover {
  background-color: rgba(139, 69, 19, 0.9);
}
body .special-offers .special-offers-flex-container div {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
}
body .featured-pastries {
  margin-bottom: 112px;
}
@media (max-width: 1023px) {
  body .featured-pastries {
    height: 1069px;
  }
}
@media (max-width: 799px) {
  body .featured-pastries {
    height: 1656px;
    margin-bottom: 0px;
  }
}
@media (max-width: 449px) {
  body .featured-pastries {
    height: 1540px;
  }
}
body .featured-pastries .featured-pastries-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 32px;
}
@media (max-width: 1023px) {
  body .featured-pastries .featured-pastries-list {
    flex-wrap: wrap;
  }
}
body .featured-pastries .featured-pastries-list > div {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
}
@media (max-width: 1023px) {
  body .featured-pastries .featured-pastries-list > div {
    width: 360px;
    height: 444px;
  }
}
@media (max-width: 799px) {
  body .featured-pastries .featured-pastries-list > div {
    width: 418px;
    height: 444px;
  }
}
@media (max-width: 449px) {
  body .featured-pastries .featured-pastries-list > div {
    width: 290px;
    height: 400px;
  }
}
body .featured-pastries .featured-pastries-list > div img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@media (max-width: 449px) {
  body .featured-pastries .featured-pastries-list > div img {
    width: 290px;
  }
}
body .featured-pastries .featured-pastries-list > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
  padding: 23px;
}
body .featured-pastries .featured-pastries-list > div > div:last-child h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
}
body .featured-pastries .featured-pastries-list > div > div:last-child p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
}
@media (max-width: 1439px) {
  body .featured-pastries .featured-pastries-list > div > div:last-child p {
    padding-right: 1px;
  }
}
body .featured-pastries .featured-pastries-list > div > div:last-child > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8px;
}
body .featured-pastries .featured-pastries-list > div > div:last-child > div div:first-child {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: #8B4513;
}
body .featured-pastries .featured-pastries-list > div > div:last-child > div div:last-child {
  padding: 8px 17px;
  border-radius: 6px;
  background-color: #8B4513;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
body .featured-pastries .featured-pastries-list > div > div:last-child > div div:last-child:hover {
  background-color: rgba(139, 69, 19, 0.9);
}
body .featured-pastries .featured-pastries-list > div > div:last-child > div div:last-child {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}
body .customers-container {
  height: 416px;
  padding: 64px 80px;
  background-color: #FFF8F0;
}
@media (max-width: 1439px) {
  body .customers-container {
    padding: 64px 0px;
    height: 440px;
  }
}
@media (max-width: 1023px) {
  body .customers-container {
    height: 528px;
  }
}
@media (max-width: 799px) {
  body .customers-container {
    height: 728px;
    margin-bottom: 128px;
  }
}
@media (max-width: 449px) {
  body .customers-container {
    height: 780px;
  }
}
body .customers-container > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0px 32px;
  gap: 48px;
}
@media (max-width: 1023px) {
  body .customers-container > div {
    padding: 0px 24px;
  }
}
@media (max-width: 799px) {
  body .customers-container > div {
    padding: 0px 16px;
  }
}
body .customers-container > div h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 40px;
}
body .customers-container > div .customer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
@media (max-width: 799px) {
  body .customers-container > div .customer-list {
    flex-direction: column;
    gap: 32px;
  }
}
body .customers-container > div .customer-list .customer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 384px;
  height: 200px;
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1439px) {
  body .customers-container > div .customer-list .customer {
    width: 300px;
    height: 224px;
  }
}
@media (max-width: 1023px) {
  body .customers-container > div .customer-list .customer {
    width: 229px;
    height: 312px;
    gap: 18px;
  }
}
@media (max-width: 799px) {
  body .customers-container > div .customer-list .customer {
    width: 418px;
    height: 200px;
  }
}
@media (max-width: 449px) {
  body .customers-container > div .customer-list .customer {
    width: 290px;
    height: 210px;
  }
}
body .customers-container > div .customer-list .customer .customer-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
@media (max-width: 1023px) {
  body .customers-container > div .customer-list .customer .customer-details {
    align-items: center;
  }
}
body .customers-container > div .customer-list .customer .customer-details .customer-rating {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
body .customers-container > div .customer-list .customer .customer-details .customer-rating span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 24px;
  color: #8B4513;
}
body .customers-container > div .customer-list .customer .customer-details .customer-rating div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 116px;
  padding-right: 6px;
}
@media (max-width: 1023px) {
  body .customers-container > div .customer-list .customer .customer-details .customer-rating div {
    flex-wrap: wrap;
    width: 90px;
  }
}
@media (max-width: 799px) {
  body .customers-container > div .customer-list .customer .customer-details .customer-rating div {
    flex-wrap: wrap;
    width: 115px;
  }
}
body .customers-container > div .customer-list .customer .customer-details .customer-rating div div {
  width: 18px;
  height: 16px;
  background-image: url(../../../../assets/main/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 799px) {
  body .customers-container > div .customer-list .customer:nth-child(2) {
    height: 176px;
  }
}
@media (max-width: 449px) {
  body .customers-container > div .customer-list .customer:nth-child(2) {
    height: 200px;
  }
}
body .customers-container > div .customer-list p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}

/*# sourceMappingURL=main.css.map */
