$max-width: 1440px;
$main-width: 1184px;
$widths: 194px, 196px, 196px, 182px;

// colors
$header-btn: #2563EB;
$header-color: #1F2937;
$lines-color: #E5E7EB;
$nav-text-color: #4B5563;
$active-nav-bg: #EFF6FF;
$role-color: #6B7280;
$badge-color: #EF4444;
$main-bg-color: #F9FAFB;
$stats-success: #16A34A;
$low-stock: #CA8A04;
$button-bg: #F3F4F6;


// font sizes
$extra-large-font: 30px;
$header-size: 24px;
$large-font: 20px;
$medium-size: 16px;

$stat-colors: (
    blue: #DBEAFE,
    green: #DCFCE7,
    yellow: #FEF9C3,
    purple: #F3E8FF,
);

$activity-colors: (
    green: #DCFCE7,
    blue: #DBEAFE,
    yellow: #FEF9C3,
);