$max-width: 1440px;
$main-width: 1184px;
$widths: 194px, 196px, 196px, 182px;

// colors
$header-btn: #2563EB;
$main-background: #E5E7EB;
$main-bg-color: #F9FAFB;
$buttons-background: #EFF6FF;
$font-color: #FFFFFF;
$dark-font: #111827;
$disabled-color: #D1D5DB;
$border-color: #9CA3AF;
$green-color: #16A34A;
$pl-color: #ADAEBC;
$dark-color: #000000;
$red-border: #EF4444;


// font sizes
$extra-large-font: 30px;
$header-size: 24px;
$large-font: 20px;
$medium-size: 16px;
$small-size: 15px;