<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Join us today and get started with your journey</p>
    <section class="gender_section">
      <h3>Gender</h3>
      <app-custom-inputs
        [type]="'radio'"
        formControlName="gender"
        [options]="[
          { label: 'Male', value: 'Male' },
          { label: 'Female', value: 'Female' }
        ]"
      >
      </app-custom-inputs>
      <div
        class="error"
        *ngIf="(form.controls['gender'].touched || submited) && form.controls['gender'].errors?.['required']"
      >
        Gender is Required
      </div>
    </section>

    <section class="input-fields">
      <app-custom-inputs
        [label]="'First Name'"
        [placeholder]="'John'"
        formControlName="firstname"
      ></app-custom-inputs>
      <div
        class="error"
        *ngIf="form.get('firstname')?.touched && form.get('firstname')?.invalid"
      >
        <span *ngIf="form.get('firstname')?.errors?.['required']"
          >First name is required</span
        >
        <span *ngIf="form.get('firstname')?.errors?.['minlength']"
          >Minimum length is 2</span
        >
        <span *ngIf="form.get('firstname')?.errors?.['numbersNotAllowed']"
          >Numbers not allowed</span
        >
      </div>

      <app-custom-inputs
        [label]="'Last Name'"
        [placeholder]="'Smith'"
        formControlName="lastname"
      ></app-custom-inputs>
      <div
        class="error"
        *ngIf="form.get('lastname')?.touched && form.get('lastname')?.invalid"
      >
        <span *ngIf="form.get('lastname')?.errors?.['required']"
          >Last name is required</span
        >
        <span *ngIf="form.get('lastname')?.errors?.['minlength']"
          >Minimum length is 2</span
        >
        <span *ngIf="form.get('lastname')?.errors?.['numbersNotAllowed']"
          >Numbers not allowed</span
        >
      </div>

      <app-custom-inputs
        [label]="'Email Address'"
        [placeholder]="'john.smith@email.com'"
        [type]="'email'"
        formControlName="email"
      ></app-custom-inputs>
      <div
        class="error"
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        <span *ngIf="form.get('email')?.errors?.['required']"
          >Email is required</span
        >
        <span *ngIf="form.get('email')?.errors?.['email']"
          >Wrong Email Fomat</span
        >
      </div>

      <app-custom-inputs
        [label]="'Password'"
        [type]="'password'"
        formControlName="password"
      ></app-custom-inputs>
      <div
        class="error"
        *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      >
        <span *ngIf="form.get('password')?.errors?.['required']"
          >Password name is required</span
        >
      </div>

      <div class="strength">
        Strength:
        <span [ngClass]="passwordStrength.toLowerCase()">
          {{ passwordStrength }}
        </span>
      </div>

      <div class="error" *ngIf="isInvalid('password')">
        <span *ngIf="form.get('password')?.errors?.['weakPassword']">
          Use 8+ chars, 1 uppercase, 1 number, 1 symbol
        </span>
      </div>

      <app-custom-inputs
        [label]="'Confirm Password'"
        [type]="'password'"
        placeholder=""
        formControlName="confirmPassword"
      ></app-custom-inputs>

      <div
        class="error"
        *ngIf="
          form.get('confirmPassword')?.touched &&
          form.get('confirmPassword')?.invalid
        "
      >
        <span *ngIf="form.get('confirmPassword')?.errors?.['required']"
          >Confirm Password name is required</span
        >
      </div>

      <div
        class="error"
        *ngIf="isInvalid('confirmPassword') || form.errors?.['passwordMismatch']"
      >
        <span *ngIf="form.errors?.['passwordMismatch']">
          Passwords do not match
        </span>
      </div>

      <app-buttons class="submit_btn"
        [label]="'Create Account'"
        [size]="'medium'"
        [color]="'primary'"
      ></app-buttons>
    </section>
  </form>
  <section class="footer">
    By creating an account, you agree to our <span>Terms of Service</span> and
    <span>Privacy Policy</span>
  </section>
</main>
