* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    font-size: 10px;
    font-family: "Inter", sans-serif;
}

/* main container */
.main-featured-page-conatainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3.3rem 1.6rem;
    margin-left: -0.8rem;
    gap: 3.6rem;
    border-bottom: 1px solid var(--header-border-color);
}

.breadcrumb {
    display: flex;
    justify-content: start;
    width: var(--content-max-width);
    max-width: 100%;
    font-size: var(--extra-small-font-size);
}

.breadcrumb p {
    color: var(--label-text);
    font-weight: 400;
    word-spacing: 0.9rem;
}

.breadcrumb span {
    color: var(--header-text);
    font-weight: 500;
    word-spacing: 0rem;
}

.bags-main-container {
    display: flex;
    justify-content: start;
    width: var(--content-max-width);
    max-width: 100%;
    gap: 3.2rem;
}

.search-container {
    width: 49.8rem;
    height: 100%;
    position: sticky;
    top: 0;
}

.filter-box {
    display: flex;
    flex-direction: column;
    box-shadow: var(--filter-box-shadow);
    width: 100%;
    height: 76.9rem; 
    border-radius: var(--button-radius);
    padding: 2.5rem;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.9rem;
}

.filter-header h2 {
    font-size: var(--medium-font-size);
    line-height: 2.8rem;
    color: var(--header-text);
    font-weight: 600;
}

.filter-header span {
    font-size: var(--extra-small-font-size);
    line-height: 2rem;
    color: var(--general-text);
    cursor: pointer;
}

.filter-header span:hover {
    color: var(--header-text);
}

.filter-categories {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    margin-bottom: 4.9rem;
    height: 21rem;
    border-bottom: 2px solid #F5F5F5;
}

.brand-categories {
    height: 21rem;
    border-bottom: none;
    margin-top: -2rem;
}

.filter-categories > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: var(--extra-small-font-size);
    margin-left: -0.4rem;
}

.filter-categories input {
    width: 1.5rem;
    height: 1.5rem;
}

.custom-checkbox span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem; 
    background-color: var(--checkbox-color);
}

.custom-checkbox {
    display: flex;
    padding-left: 0.5rem;
    gap: 1.1rem;
}

.filter-group input {
    width: 100%;
}

.price-labels {
    display: flex;
    justify-content: space-between;
}

/* this part took from stack to remove slider on range input */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  background: #ddd;
  border-radius: 0.8rem;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  pointer-events: none;
  background: transparent;
  border: none;
  margin-top: -8px;
}

.categories label {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.categories {
    margin-bottom: 5rem;
}
/*  */

.filter-box h3 {
    font-size: var(--small-font-size);
}

.filter-group span {
    font-size: var(--extra-small-font-size);
}

.filter-group input {
    margin: 2rem 0rem 1.5rem 0rem;
}

.filter-group {
    padding-bottom: 3rem;
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 4.8rem;
}

.brands input {
    position: relative;
    top: -0.5rem;
}

.featured-main-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
}

.bags-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bags-container-header div {
    display: flex;
    align-items: center;
}

.bags-container-header h1 {
    font-size: var(--build-bag-font);
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bags-container-header p {
    font-size: var(--extra-small-font-size);
    line-height: 2rem;
    /* letter-spacing: 0.1rem; */
}

.bags-container-header input {
    height: 4.2rem;
    width: 23.2rem;
    border-radius: 0.8rem;
    outline: none;
    border: 1px solid var( --custom-bags-background);
    padding-left: 1.7rem;
    margin-left: 2.4rem;
}

/* bags container */
div.bag-wrapper {
    flex-wrap: wrap;
    column-gap: 3.2rem;
    row-gap: 2.8rem;
}

.collection-details picture .img-wrapper {
    width: 34.67rem;
    height: 34.67rem;
    border-radius: var(--img-radius);
    cursor: pointer;
}

.bags-container .collection-details p:first-of-type {
    letter-spacing: 0.03rem;
    margin: 1.9rem 0rem 1.2rem;
    font-size: 1.6rem;
}

.bags-container .circle-container div {
    width: 1.6rem;
    height: 1.6rem;
}

.bags-container div.outer-circle {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--header-text);
    z-index: 0;
}

.bags-container .inner-circle {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
