$input-border-color: #E5E7EB;
$label-color: #334155;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .top-label {
    font-weight: 500;
    color: #334155;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    height: 50px;
    border-radius: 8px;
    border: 1px solid $input-border-color;
    padding: 0 16px;
    font-size: 15px;
    color: $label-color;
  }

  .radio-group {
    display: flex;
    gap: 24px;

    .radio-option {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
