$max-width: 1440px;

// colors
$cart-amount-color: #D4AF37;
$general-color: #FFFFFF;
$korma-color: #8B4513;
$korma-hover-color: rgba(139, 69, 19, 90%);


// fonts
$extra-large-font: 30px;
$header-size: 24px;
$large-font: 20px;
$medium-size: 16px;
$small-size: 14px;
$font-inter: "Inter", sans-serif;
$font-playfair: "Playfair Display", serif;