<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../utils/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../common-styles/variables.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./responsive/header-1024.css">
    <link rel="stylesheet" href="./responsive/header-800.css">
    <link rel="stylesheet" href="./responsive/header-450.css">
    <link rel="stylesheet" href="./responsive/headerBelow-450.css">
    <title>Bagstore</title>
</head>
<body>
    <header class="header-main-container">
        <div class="header-container">
            <div class="logo">
                <img src="../../../assets/main/container.svg" alt="">
                <span>Bagstore</span>
            </div>
            <nav class="header-main-nav">
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#" class="active custom-position">New</a></li>
                    <li><a class="custom-position" href="#">Popular</a></li>
                </ul>
            </nav>
            <div class="header-search-container">
                <input type="text" class="header-search-box" placeholder="Search..." />
                <div class="info-container">
                    <a href="#">About</a>
                    <a href="#">FAQs</a>
                    <div class="header-nav-icons">
                        <img src="../../../assets/main/profile.svg" alt="">
                        <div class="cart-icon">
                            <img src="../../../assets/main/followings.svg" alt="">
                            <span class="notification"></span>
                        </div>
                        <div class="cart-icon">
                            <img src="../../../assets/main/bags.svg" alt="">
                            <span class="cart-count">3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>