body {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

.header_container {
    margin: 40px 40px 15.44px 40px;
    height: 39px;
}

.header {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0em;
    font-optical-sizing: none;
}

.buttons_container {
    margin: 0px 40px 14px 41px;
    height: 48px;
}

.buttons {
    display: inline-block;
    margin: 2px 1px 2px 0px;
    padding: 12px 24px 13px 24px;
    border-radius: 8px;
    height: 43px;
    font-weight: 700;
}

.btn1 {
    color: #FFFFFF;
    background: linear-gradient(158.344deg, #007BFF 0%, #0056D2 100%);
    font-size: 15.48px;
    border: 1px solid #000000;
    width: 108px;
    letter-spacing: 0.1px;
    font-optical-sizing: none;
}

.btn1:hover {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
}

.btn2 {
    background-color: #6C757D;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-optical-sizing: none;
    font-size: 15.38px;
    font-weight: 700;
    height: 44px;
    width: 129px;
    padding: 12px 28px 18px 22px;
}

.btn2:hover {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
}

.btn3 {
    background: linear-gradient(157.742deg, #DC3545 0%, #A71D2A 100%);
    color: #FFFFFF;
    letter-spacing: 0.3px;
    font-optical-sizing: none;
    font-size: 14.95px;
    font-weight: 700;
    height: 44px;
    width: 104px;
    padding: 12px 32px 18px 23px;
}

.btn4 {
    letter-spacing: 0.1px;
    font-optical-sizing: none;
    width: 107px;
    height: 48px;
    padding: 14px 29px 17px 24px;
    margin: 0px 0px 0px -1px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15.38px;
    border: 2px solid #007BFF;
    color: #007BFF;
    background-color: #FFFFFF;
}

.btn4:hover {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
    background-color: rgba(255, 255, 255, 0%);
}

.btn5 {
    width: 115px;
    height: 44px;
    padding: 13px 26px 15px 25px;
    margin: 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15.38px;
    border: 1px solid #000000;
    color: #FFFFFF;
    background: linear-gradient(159.24deg, #007BFF 0%, #0056D2 100%);
    opacity: 60%;
}