@media (max-width: 450px) {
    /* resolutions X: -3, Y: -1 */
   .hero-section {
        width: 41.8rem;
        height: 68.6rem;
        margin: -3rem 0rem 0rem -0.5rem;
    }

    .text-content h1 {
        font-size: 3.6rem;
        line-height: 4.5rem;
        overflow-wrap: break-word;
    }

    .hero-label {
        display: none;
    }

    .shopping-btn {
        display: none;
    }

    /* text content */

    .image-section div {
        background-image: url('../../../../assets/main/responsive/responsive-450/elegant-luxury-450.svg');
    }

    .text-content p {
        overflow-wrap: break-word;
    }

    .text-content p span {
        display: block;
    }

    .text-content > div {
        padding: 0rem 4.8rem 0rem 4.4rem;
        margin: -2rem 0rem 0rem 0.4rem;
    }

    .text-content h1 span {
        display: block;
    }

    /* brands */
    .main-brands {
        margin-top: 1.8rem;
        gap: 3.4rem;
    }

    .main-brands-collection div {
        width: 8.05rem;
    }

    .main-brands-collection {
        flex-wrap: wrap;
        width: 93%;
        row-gap: 6.9rem;
    }

    /* collection vanbar */
    .collection-navbar {
        margin: 4.3rem 3rem 3rem 9rem;
    }

    .collection-list p {
        line-height: 2.7rem;
    }

    .collection-list {
        text-align: center;
        gap: 0rem;
    }
    
    .main-collections {
        gap: 21.2rem;
    }

    .collection-items {
        margin-left: 9rem;
        gap: 3rem;
    }

    .main-sales-labels {
        margin: -5.3rem 0.3rem 0rem 0rem;
        width: 41.8rem;
    }

    .collection-list div {
        height: 8rem;
    }

    .collection-list div:nth-child(2) {
        position: relative;
        right: 0.8rem;
    }

    .collection-list div:nth-child(3) {
        position: relative;
        right: 4.3rem;
    }

    .collection-details picture > img {
        height: 41.8rem;
        width: 41.8rem;
        background: #FAFAFA;
    }

    /* custom bags */

    .build-your-bag {
        width: 41.8rem;
        margin: 1.7rem 0rem 0rem;
    }

    .build-your-bag p {
        line-height: 2.3rem;
        margin: 0rem 0.4rem 6.4rem 0rem;
    }

    .custom-bag-img-container img {
        border-radius: 1.2rem;
    }

    .custom-buttons div {
        width: 21.7rem;
    }

    .custom-bag-choices > div:nth-child(3) h3 {
        padding: 0.6rem 0rem 1.9rem 0rem;
    }

    .add-ons-buttons > div {
        width: 100%;
    }

    .custom-bag-details {
        padding: 0rem 3.3rem 3.2rem 3rem;
        flex-direction: column;
    }

    .custom-bag-summary {
        gap: 2.6rem;
        padding-top: 3.6rem;
    }

    /*  */

    .featured-collection {
        margin: 2.5rem 0rem 0rem 1.8rem;
        width: 41.8rem;
    }

    .featured-collection img {
        width: 41.8rem;
        height: 55.7rem;
    }

    .featured-collection span {
        top: 49%;
        left: 49%;
    }
}