@media (min-width: 1024px) and (max-width:1560px) {
    /* header */
    .header-container {
        gap: 0rem;
    }

    .logo {
        gap: 0.8rem;
        font-size: 2.2rem;
    }

    .info-container {
        gap: 1.8rem;
        left: -0.4rem;
        top: -0.7rem;
    }

    .header-main-nav ul li:not(:first-child) {
        padding-left: 1.5rem;
    }

    .header-main-nav ul {
        padding: 0rem 1.8rem 0rem 8.5rem;
    }

    .header-search-box {
        position: relative;
        width: 15.7rem;
        height: 4.2rem;
        letter-spacing: 0.1rem;
        padding-left: 0.5rem;
        left: 7px;
        top: 3px;
    }

    .header-main-nav a.active::after {
        left: 0rem;
    }

    .custom-position {
        position: relative;
        top: -4px;
        left: 3px;
    }
}