@media (min-width: 767px) and (max-width: 1200px) {
    .header-container {
        width: 93.75%;
    }

    /* hero section */ 
    .circle2 {
        top: 70%;
        left: 71.5%;
    }

    /* amazing section */
    .amazing-section {
        padding: 8rem 0rem;
    }

    .features div {
        width: 21.9rem;
        height: 44.1rem;
        padding-right: 2.1rem;
    }

    .features p {
        padding: 1.6rem 0rem 0rem 0.4rem;
        font-size: 1.72rem;
        line-height: 2.9rem;
    }

    .features div:nth-child(3) h3 {
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    /* visual section */
    .visual-section {
        padding: 8rem 0rem;
    }

    .visuals div {
        width: 16.2rem;
        height: 25.6rem;
    }

    .visuals div:first-child {
        background-image: url('../assets/responsive-768/visual-1-768.svg');
    }

    .visuals div:nth-child(2) {
        background-image: url('../assets/responsive-768/visual-2-768.svg');
    }

    .visuals div:nth-child(3) {
        background-image: url('../assets/responsive-768/visual-3-768.svg');
    }

    .visuals div:nth-child(4) {
        background-image: url('../assets/responsive-768/visual-4-768.svg');
    }

    /* stats section */
    .statistics-container {
        padding: 8rem 2.5rem;
    }

    .statistics-container div {
        width: 15.6rem;
        height: 33.2rem;
        padding: 4rem 3.2rem 3.2rem 3.2rem;
        word-break: break-all;
    }

    /* footer section */
    .footer-container {
        padding: 6.5rem 19.2rem 9rem 19.2rem
    }

    .footer-container div {
        padding: 2.5rem 0rem 2.5rem 0rem;
    }
}