$input-border-color: #afa8a8;
$button-bg-color: #1976d2;
$font-color: #ffffff;
$status-bg-color: #e0e0e0;
$close-btn-color: rgb(211, 14, 14);

h1 {
  font-size: 24px;
  font-weight: 700;
}

.todo-container {
  max-width: 500px;
  margin: 32px auto 64px;

  .input-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;

    input {
      width: 450px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid $input-border-color;
    }

    button {
      padding: 8px 16px;
      border: none;
      background: $button-bg-color;
      color: $font-color;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .filters button {
      margin-right: 8px;
      padding: 6px 12px;
      background: $status-bg-color;
      border: none;
      border-radius: 6px;
      cursor: pointer;

      &.active {
        background: $button-bg-color;
        color: $font-color;
      }
    }

    select {
      padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid $input-border-color;
    }
  }

  .todo-list {
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid $input-border-color;

      .title {
        margin-left: 12px;
        padding: 6px 4px;
        border: none;
        width: 400px;
      }

      &.completed .title {
        text-decoration: line-through;
        color: $input-border-color;
      }

      .remove {
        border: none;
        background-color: $font-color;
        color: $close-btn-color;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
