@import './mixins';
@import './variables';
@import './';

body {
    width: $max-width;
    font-family: "Inter", sans-serif;

    header {
        @include flexbox;
        @include resolution($max-width, 77px);
        border-bottom: 1px solid $main-background;

        .header-container {
            @include flexbox(space-between);
            @include resolution(1376px, 44px);

            div:first-child {
                @include flexbox(start);
                @include resolution(458.45px, 32px);
                gap: 31.5px;

                h1 {
                    @include font(24.5px, 700, 0px, 32px);
                }

                p {
                    @include font(17px);
                    color: $header-btn;
                }
            }

            div:last-child {
                @include flexbox(space-between);
                width: 73px;
            }
        }
    }

    .layout {
        display: flex;
        width: $max-width;

        aside {
            @include flexbox(start, start, column);
            width: 255px;
            gap: 16px;
            padding: 26px 25px 24px 23px;

            h3 {
                font-size: $small-size;
            }

            nav {
                @include flexbox(start, start, column);
                font-size: $small-size;
                gap: 25px;
                margin: 3px 0px 0px 6px;
                padding: 16px 0px 0px;
                border-top: 1px solid $main-background;

                > div {
                    padding: 0px 7px;

                    label {
                        padding-left: 10px;
                    }
                }

                > div:first-child {
                    @include flexbox(start);
                    @include resolution(203px, 36px);
                    background-color: $buttons-background;
                    border-radius: 8px;

                    div {
                        @include resolution(12.25px, 14px);
                        background-color: $header-btn;
                        border-radius: 2px;
                    }

                    label {
                        color: $header-btn;
                    }
                }

                > div:last-child {
                    label {
                        padding-left: 2px;
                    }
                }
            }
        }

        main {
            @include flexbox(start, start, column);
            gap: 69px;
            width: $main-width;
            background-color: $main-bg-color;
            border-left: 1px solid $main-background;
            padding: 34px 32px 32px;

            .button-container{
                @include flexbox(start, start, column);
                gap:32px;

                @for $i from 1 through length($widths) {
                    .buttons-component-#{$i} {
                        height: nth($widths, $i);
                    }
                }

                .buttons-header {
                    h1 {
                        @include font($extra-large-font, 700, 0.8px, 32px);
                        padding-bottom: 17px;
                    }

                    p {
                        font-size: $medium-size;
                        letter-spacing: 0.1px;
                    }
                }

                .buttons-component {
                    h1 {
                        @include font($large-font, 600, 0.2px)
                    }

                    > div {
                        display: flex;
                        gap: 25px;

                        .button-type {
                            p {
                                font-size: $small-size;
                            }

                            div {
                                @extend .btn;
                            }
                        }
                    }
                }

                .buttons-component-1 {
                    .button-type {
                        @each $name, $values in $primary-button-data {
                            .btn-#{$name} {
                                @include custom-button(nth($values, 1), nth($values, 2));
                            }
                        }
                    }
                }

                .buttons-component-2 {
                    .button-type {
                        @each $name, $values in $secondary-button-data {
                            .btn-#{$name} {
                                @include custom-button(nth($values, 1), nth($values, 2), nth($values, 3));
                                border: 1px solid nth($values, 4);
                            }
                        }
                    }
                }

                .buttons-component-3 {
                    .button-type {
                        @each $name, $values in $icon-button-data {
                            .btn-#{$name} {
                                @include custom-button(nth($values, 1), nth($values, 2));
                                @if length($values) == 3 {
                                    height: 43px;
                                    border: 1px solid nth($values, 3);
                                }
                            }
                        }
                    }
                }

                .buttons-component-4 {
                    @include flexbox(space-between, start, column);

                    .button-sizes {
                        gap: 24px;

                        @include flexbox(center, end);
                        > div {
                            display: flex;
                            align-items: center;
                            gap: 4.5px;

                            span {
                                font-size: 14px
                            }

                            .btn-primary {
                                  @include flexbox(center, center);
                                  text-align: center;      
                            }

                            .btn-small {
                                @include button-size(60.48px, 32px, 14px, 6px);
                            }

                            .btn-medium {
                                @include button-size(93.77px, 40px, 16px, 8px);
                            }

                            .btn-large {
                                 @include button-size(96.75px, 52px, 18px, 10px);
                            }
                        }
                    }
                }
            }

            .input-container {
                @include flexbox(start, start, column);
                gap:32px;

                .inputs-header {
                    h1 {
                        @include font($extra-large-font, 700, 0.8px, 32px);
                        padding-bottom: 17px;
                    }

                    p {
                        font-size: $medium-size;
                        letter-spacing: 0.1px;
                    }
                }

                .input-texts {
                    @include resolution(1120px, 452px);

                    h1 {
                        font-size: $large-font + 1px;
                    }

                    .input-forms {
                        display: grid;
                        grid-template-columns: 511px 511px;
                        grid-template-rows: 80px 80px 107px;
                        gap: 32px;

                        div {
                            display: flex;
                            justify-content: end;
                            flex-direction: column;
                            gap: 15px;

                            span {
                                font-size: $small-size - 1px;
                            }

                            @each $name, $values in $input-styles {
                                .input-#{$name} {
                                     @if $name == 'invalid' or $name == 'valid' {
                                        @include input(nth($values, 1), nth($values, 2), nth($values, 3));
                                        margin: 2px 0px -1px 0px;
                                        padding: 2px 1px 3px 8px
                                    } @else {
                                        @include input(nth($values, 1), nth($values, 2), nth($values, 3));
                                    }
                                }
                            }

                            .success {
                                color: $green-color;
                            }

                            .error {
                                color: $red-border;
                            }
                        }
                    }
                }
            }
        }
    }

}