@media (max-width: 1023px) {
    .order-summary-main-container,
    .breadcrumb {
        width: 97.6rem;
    }

    .shopping-cart-container .breadcrumb {
        margin: -1rem 0rem 0rem -0.7rem;
    }

    .order-summary-main-container .order-summary:nth-child(2) {
        
    }

    .order-summary-main-container, .breadcrumb {
        width: 75.2rem;
        margin: -0.4rem 0rem 0rem 5rem;
    }

    .order-summary .proceed-checkout {
        width: 72rem;
        height: 19.4rem;
    }
}